.select {
    height: 50px;
    padding: 0 16px;
    border-radius: 6px;
    border: 1px solid#e1e1e1;
    position: relative;
    cursor: pointer;
}

.selected-option {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        font-size: 14px;
    }
}

.options {
    margin-top: 10px;
    max-height: 249px;
    overflow-y: scroll;
    padding: 0 8px 8px 8px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    ul {
        margin-top: 48px;
    }
    li {
        height: 32px;
        font-size: 14px;
        list-style: none;
        line-height: 36px;
        padding: 0 10px;
        cursor: pointer;
        border-radius: 6px;
        color: #353333;
        transition: 0.3s linear;
        &:hover {
            color: #000;
            background: rgba(10, 39, 206, 0.082);
        }
        &.active-option {
            color: #000;
            background: rgba(10, 39, 206, 0.082);
        }
    }
}

.search-options {
    padding-top: 8px;
    background: #fff;
    position: fixed;
    height: 40px;
    width: 208px;
}

.search-input-select {
    width: calc(240px - 32px);
    height: 40px;
    font-size: 14px;
    line-height: 32px;
    padding: 0 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    position: absolute;
    border: 1px solid #e1e1e1;
    outline: #e1e1e1;
    color: #797979;
}